@import './_flex.scss';
@import './colors.scss';
@import './templates.scss';
@import './global.scss';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.account-container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  position: relative;
  width: 100%;
  height: 100%;
  padding: .24rem .42rem;
  box-sizing: border-box;
  font-size: .32rem;

  .btn-primary {
    width: 6rem;
    height: 1rem;
    line-height: 1rem;
    margin-top: .8rem;
    text-align: center;
    background-color: $orange;
    border-radius: 100rem;
    box-shadow: 0 4px 20px rgba(248, 130, 49, .45);
    color: #FFF;

    &.disable {
      cursor: not-allowed;
      background-color: #CCC;
      box-shadow: none;
    }
  }

  .btn-account {
    position: absolute;
    top: .2rem;
    right: .2rem;
    font-size: .28rem;
    color: #2E59D5;
  }

  .logo-panel {
    width: 100%;
    margin-top: .32rem;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);

    img {
      width: 0.96rem;
      height: 0.96rem;
    }

    p {
      font-size: .28rem;
      margin-top: .26rem;
      color: #000;
    }
  }

  .auth-wrapper {
    width: 100%;
    margin-top: .4rem;

    .auth-item {
      position: relative;
      width: 100%;
      height: 0.88rem;
      margin-bottom: .32rem;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
      @include flexbox();
      @include align-items(center);

      .error-tip {
        display: none;
        position: absolute;
        left: .2rem;
        bottom: -.46rem;
        font-size: .28rem;
        color: $error-color;
      }

      &.error {
        border-bottom: 2px solid $error-color;

        .error-tip {
          display: block;
        }
      }

      .title {
        width: 1.8rem;
        color: #333;
        padding-left: .2rem;
        box-sizing: border-box;
      }

      .input {
        @include flex(1);
        @include flexbox();
        @include align-items(center);
        height: 100%;

        input {
          width: 100%;
          height: 72%;
          outline: none;
          border: none;
          background: none;
        }
      }

      .btn-eye {
        width: 0.48rem;
        height: 0.48rem;
        padding: 0 .1rem;
      }

      .btn-verify {
        width: 2.2rem;
        height: 0.44rem;
        line-height: 0.44rem;
        text-align: center;
        color: $orange;
        border-left: 1px solid #CCC;

        &.disable {
          color: #CCC;
        }
      }
    }
  }
}

.home-container {
  .advertise-placeholder {
    width: 100%;
    height: 1.2rem;
  }

  .advertise {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 1.2rem;
    padding: 0 0.2rem;
    background-color: #FFF;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    @include flexbox();
    @include align-items(center);

    .icon-close {
      width: 0.32rem;
      height: 0.32rem;
    }

    .icon-logo {
      width: 0.64rem;
      height: 0.64rem;
      margin-left: 0.16rem;
    }

    .content {
      margin-left: 0.16rem;
      font-size: 0.24rem;
      @include flex(1);

      .sub {
        color: #b4b4b4;
      }
    }
  }

  .outline {
    width: 100%;
    height: 3.2rem;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    .status {
      width: 2rem;
      height: 0.6rem;
      line-height: 0.6rem;
      background-color: $error-color;
      border-radius: 50px;
      color: #FFF;
      font-size: 0.3rem;
      text-align: center;
    }

    .card {
      position: relative;
      width: 5rem;
      height: 1.4rem;
      padding: 0.24rem 0.32rem;
      margin-top: 0.4rem;
      box-sizing: border-box;
      background-color: #FFF;
      border-radius: 8px;

      .title {
        font-size: 0.36rem;
      }

      .sub {
        font-size: 0.3rem;
        color: #999;
      }

      .icon {
        position: absolute;
        top: 50%;
        right: 0.32rem;
        transform: translateY(-50%);
        width: 0.42rem;
        height: 0.42rem;
      }
    }
  }

  .banner {
    position: relative;
    width: 100%;
    height: 3rem;

    .online {
      position: absolute;
      top: 0.32rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.24rem;
      color: #FFF;
      background-color: rgba(0, 0, 0, 0.32);
      border-radius: 50px;
      padding: 0.06rem 0.28rem;
    }

    img {
      width: 100%;
      height: 3rem;
    }
  }

  main {
    width: 100%;
    padding: 0.32rem 0.32rem 1.32rem 0.32rem;
    box-sizing: border-box;
  }

  >.button-primary {
    position: fixed;
    left: 50%;
    bottom: 0.32rem;
    transform: translateX(-50%);
    z-index: 999;
  }
}

.contact-container,
.device-container,
.document-container,
.outline-container {
  padding: 0.48rem 0.32rem;
  box-sizing: border-box;
}

.outline-container {
  color: #242424;

  .button-primary {
    position: fixed;
    left: 50%;
    bottom: 0.66rem;
    transform: translate(-50%);
  }

  h3,
  h4,
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h3 {
    font-size: 0.48rem;
    font-weight: 400;
    margin-bottom: 0.24rem;
  }

  .list {
    margin-top: 0.32rem;

    &:nth-child(1) {
      margin-top: 0;
    }

    h4 {
      font-size: 0.3rem;
      font-weight: 400;
    }

    ul {
      margin-top: 0.12rem;
      list-style-type: none;
      padding-inline-start: 0;

      li {
        font-size: 0.3rem;
      }
    }
  }
}
