 
 <div class="dirt-count">
   <ul class="count1">
     <li><i></i>脏物总件数<span>{{this.country.value}}</span> 
        <p class="rate">同比{{this.country.rate}}%
          {{#compare this.country.flag '===' 1}}
            <i class="up-icon"></i>
          {{/compare}}
          {{#compare this.country.flag '===' -1}}
            <i class="down-icon"></i>
          {{/compare}}
          {{#compare this.country.flag '===' 0}}
            <i class="equal">- </i>
          {{/compare}}
          <p>
     </li>
     <div class="line"></div>
     <li><i></i>脏物总件数<span>{{this.city.value}}</span> 
      <p class="rate">同比{{this.city.rate}}%
        {{#compare this.city.flag '===' 1}}
          <i class="up-icon"></i>
        {{/compare}}
        {{#compare this.city.flag '===' -1}}
          <i class="down-icon"></i>
        {{/compare}}
        {{#compare this.city.flag '===' 0}}
          <i class="equal">- </i>
        {{/compare}}
       </p> 
     </li>
   </ul>
 </div>